* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(226, 123, 240), rgb(112, 235, 235));
}

header {
    padding: 20px;
}

header img {
    max-block-size: 75px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 40px;
    display: flex;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

/*This is the Main photo for the home page*/
.logo {
    height: 675px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: url("Photos/Screenshot (1).png");
    background-size: cover;
    background-position: center;
    display: flex;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.main-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Old-Me {
    text-align: center;
    color: black;
}

.construction img {
    display: block;
    margin: 10px auto;
    max-width: 75px;
}

.navy img {
    display: block;
    margin: 10px auto;
    max-width: 50px;
}

.programmer img {
    display: block;
    margin: 10px auto;
    max-width: 75px;
}

.X1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: black;
}

.X2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: black;
}

.X3 {
    padding: 50px;
    text-align: center;
    position: relative;
    left: 220px;
}

.github-page img {
    max-block-size: 40px;
    padding-top: 15px;
    margin-left: 5px;
}

.Phone-Number img {
    max-block-size: 40px;
    padding-top: 15px;
    margin-left: 5px;
}

.Email img {
    max-block-size: 40px;
    padding-top: 15px;
    margin-left: 5px;
}

.X3 ul {
    list-style-type: none;
    font-size: 30px;
}

.footer {
    text-align: center;
    font-size: 20px;
    color: black;
}

@media screen and (max-width: 992px) {
    .logo {
        flex-wrap: wrap;
    }
    header div {
        flex-wrap: wrap;
    }
}
  
  @media screen and (max-width: 768px) {
    .logo {
        flex-wrap: wrap;
      }
      header div {
        flex-wrap: wrap;
      }
}